<a href="https://colab.research.google.com/github/dakshnpci/NPCIMLTraining/blob/master/BoostingExample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:


# First XGBoost model for Pima Indians dataset
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# load data
dataset = loadtxt('https://gist.githubusercontent.com/ktisha/c21e73a1bd1700294ef790c56c8aec1f/raw/819b69b5736821ccee93d05b51de0510bea00294/pima-indians-diabetes.csv', delimiter=",")
# split data into X and y
X = dataset[:,0:8]
Y = dataset[:,8]
# split data into train and test sets
seed = 7
test_size = 0.33
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)
# fit model no training data
model = XGBClassifier()
model.fit(X_train, y_train)
# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 77.95%

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [0]:
import numpy as np                                                 # Implemennts milti-dimensional array and matrices
import pandas as pd                                                # For data manipulation and analysis
import matplotlib.pyplot as plt                                    # Plotting library for Python programming language and it's numerical mathematics extension NumPy
import seaborn as sns                                              # Provides a high level interface for drawing attractive and informative statistical graphics
%matplotlib inline
sns.set()

from subprocess import check_output

In [0]:
titanic_data = pd.read_csv("https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Casestudy/titanic_train.csv")     # Importing training dataset using pd.read_csv

In [0]:
titanic_data.Embarked = titanic_data.Embarked.fillna(titanic_data['Embarked'].mode()[0])
median_age = titanic_data.Age.median()
median_fare = titanic_data.Fare.median()
titanic_data.Age.fillna(median_age, inplace = True)
titanic_data.Fare.fillna(median_fare, inplace = True)

In [0]:
titanic_data.drop('Cabin', axis = 1,inplace = True)

In [13]:
titanic_data['FamilySize'] = titanic_data['SibSp'] + titanic_data['Parch']+1
titanic_data['GenderClass'] = titanic_data.apply(lambda x: 'child' if x['Age'] < 15 else x['Sex'],axis=1)
titanic_data = pd.get_dummies(titanic_data, columns=['GenderClass','Embarked'], drop_first=True)
titanic = titanic_data.drop(['Name','Ticket','Sex','SibSp','Parch'], axis = 1)
titanic.head()

,PassengerId,Survived,Pclass,Age,Fare,FamilySize,GenderClass_female,GenderClass_male,Embarked_Q,Embarked_S
0,1,0,3,22.0,7.2500,2,0,1,0,1
1,2,1,1,38.0,71.2833,2,1,0,0,0
2,3,1,3,26.0,7.9250,1,1,0,0,1
3,4,1,1,35.0,53.1000,2,1,0,0,1
4,5,0,3,35.0,8.0500,1,0,1,0,1

In [15]:
X = titanic.loc[:,titanic.columns != 'Survived']
y = titanic.Survived 
X.head()

,PassengerId,Pclass,Age,Fare,FamilySize,GenderClass_female,GenderClass_male,Embarked_Q,Embarked_S
0,1,3,22.0,7.2500,2,0,1,0,1
1,2,1,38.0,71.2833,2,1,0,0,0
2,3,3,26.0,7.9250,1,1,0,0,1
3,4,1,35.0,53.1000,2,1,0,0,1
4,5,3,35.0,8.0500,1,0,1,0,1

In [16]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

/usr/local/lib/python3.6/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [18]:
from sklearn.ensemble import RandomForestClassifier
model1 = RandomForestClassifier(random_state = 0,
                                n_estimators = 15,
                                min_samples_split = 2,
                                min_samples_leaf = 1)

model1.fit(X_train, y_train)
y_pred_test = model1.predict(X_test)
from sklearn.metrics import accuracy_score
print('Accuracy score for test data using the model with parameter specification:', accuracy_score(y_test,y_pred_test1))

from sklearn.metrics import confusion_matrix

confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))

confusion_matrix.index = ['Actual Died','Actual Survived']
confusion_matrix.columns = ['Predicted Died','Predicted Survived']
print(confusion_matrix)

Accuracy score for test data using the model with parameter specification: 0.7932960893854749
                 Predicted Died  Predicted Survived
Actual Died                  96                  10
Actual Survived              27                  46

In [19]:
from xgboost import XGBClassifier
model1 = XGBClassifier()
model1.fit(X_train, y_train)
y_pred_test = model1.predict(X_test)
from sklearn.metrics import accuracy_score
print('Accuracy score for test data using the model with parameter specification:', accuracy_score(y_test,y_pred_test1))

from sklearn.metrics import confusion_matrix

confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))

confusion_matrix.index = ['Actual Died','Actual Survived']
confusion_matrix.columns = ['Predicted Died','Predicted Survived']
print(confusion_matrix)

Accuracy score for test data using the model with parameter specification: 0.7932960893854749
                 Predicted Died  Predicted Survived
Actual Died                  97                   9
Actual Survived              28                  45

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [23]:
from sklearn import preprocessing
from sklearn import cross_validation
from sklearn.model_selection import KFold
from sklearn.feature_selection import RFECV
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier
model1 = GradientBoostingClassifier()
model1.fit(X_train, y_train)
y_pred_test = model1.predict(X_test)
from sklearn.metrics import accuracy_score
print('Accuracy score for test data using the model with parameter specification:', accuracy_score(y_test,y_pred_test1))

from sklearn.metrics import confusion_matrix

confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))

confusion_matrix.index = ['Actual Died','Actual Survived']
confusion_matrix.columns = ['Predicted Died','Predicted Survived']
print(confusion_matrix)

Accuracy score for test data using the model with parameter specification: 0.7932960893854749
                 Predicted Died  Predicted Survived
Actual Died                  97                   9
Actual Survived              28                  45

/usr/local/lib/python3.6/dist-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [0]:
 #!/usr/bin/env python -W ignore::DeprecationWarning
 
import numpy as np                                                 # Implemennts milti-dimensional array and matrices
import pandas as pd                                                # For data manipulation and analysis
import matplotlib.pyplot as plt                                    # Plotting library for Python programming language and it's numerical mathematics extension NumPy
import seaborn as sns                                              # Provides a high level interface for drawing attractive and informative statistical graphics
%matplotlib inline
sns.set()

from subprocess import check_output
titanic_data = pd.read_csv("https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Casestudy/titanic_train.csv")     # Importing training dataset using pd.read_csv

titanic_data.Embarked = titanic_data.Embarked.fillna(titanic_data['Embarked'].mode()[0])
median_age = titanic_data.Age.median()
median_fare = titanic_data.Fare.median()
titanic_data.Age.fillna(median_age, inplace = True)
titanic_data.drop('Cabin', axis = 1,inplace = True)
titanic_data.Fare.fillna(median_fare, inplace = True)
titanic_data['FamilySize'] = titanic_data['SibSp'] + titanic_data['Parch']+1
titanic_data['GenderClass'] = titanic_data.apply(lambda x: 'child' if x['Age'] < 15 else x['Sex'],axis=1)
titanic_data = pd.get_dummies(titanic_data, columns=['GenderClass','Embarked'], drop_first=True)
titanic = titanic_data.drop(['Name','Ticket','Sex','SibSp','Parch'], axis = 1)
titanic.head()
X = titanic.loc[:,titanic.columns != 'Survived']
y = titanic.Survived 
# X.head()

from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

# print(X_train)
# print(len(X_train))
# print(len(y_train))
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
    
from sklearn import preprocessing
from sklearn import cross_validation
from sklearn.model_selection import KFold
from sklearn.feature_selection import RFECV
from sklearn.grid_search import GridSearchCV
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

clf = XGBClassifier(silent=True)
cv = cross_validation.KFold(len(X), n_folds=20, shuffle=True, random_state=1)

# # Grid 1
# grid = {'learning_rate':[0, 0.01], 
#         'n_estimators': [100, 200, 500,1000],
#         'max_depth':[3, 4, 5,10], 
#         'booster':['gbtree', 'gblinear', 'dart']
# #        'reg_lambda':[0, 0.01, 0.10, 0.50, 1]
#        }

# Grid 2

grid = {'learning_rate':[ 0.01], 
        'n_estimators': [200],
        'max_depth':[4,30], 
        'booster':['gbtree'],
       'reg_lambda':[0, 0.01]
       }

# scores = cross_validation.cross_val_score(clf, X, y, cv=cv, n_jobs=1, scoring='accuracy')
search = GridSearchCV(estimator=clf, param_grid=grid, scoring='accuracy', n_jobs=-1, refit=True, cv=cv)
# search.fit(X_train,y_train)
search.fit(X,y)

y_pred_test = search.predict(X_test)
print('Accuracy score for test data using the model with parameter specification:', accuracy_score(y_test,y_pred_test))

from sklearn.metrics import confusion_matrix

confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))

confusion_matrix.index = ['Actual Died','Actual Survived']
confusion_matrix.columns = ['Predicted Died','Predicted Survived']
print(confusion_matrix)
search.best_estimator_

In [0]:
def detect_outliers(df,n,features):
    """
    Takes a dataframe df of features and returns a list of the indices
    corresponding to the observations containing more than n outliers according
    to the Tukey method.
    """
    outlier_indices = []
    
    # iterate over features(columns)
    for col in features:
        # 1st quartile (25%)
        Q1 = np.percentile(df[col], 25)
        # 3rd quartile (75%)
        Q3 = np.percentile(df[col],75)
        # Interquartile range (IQR)
        IQR = Q3 - Q1
        
        # outlier step
        outlier_step = 1.5 * IQR
        
        # Determine a list of indices of outliers for feature col
        outlier_list_col = df[(df[col] < Q1 - outlier_step) | (df[col] > Q3 + outlier_step )].index
        
        # append the found outlier indices for col to the list of outlier indices 
        outlier_indices.extend(outlier_list_col)
        
    # select observations containing more than 2 outliers
    outlier_indices = Counter(outlier_indices)        
    multiple_outliers = list( k for k, v in outlier_indices.items() if v > n )
    
    return multiple_outliers   

# detect outliers from Age, SibSp , Parch and Fare

In [39]:
#!/usr/bin/env python -W ignore::DeprecationWarning
 
import numpy as np                                                 # Implemennts milti-dimensional array and matrices
import pandas as pd                                                # For data manipulation and analysis
import matplotlib.pyplot as plt                                    # Plotting library for Python programming language and it's numerical mathematics extension NumPy
import seaborn as sns                                              # Provides a high level interface for drawing attractive and informative statistical graphics
%matplotlib inline
sns.set()
from collections import Counter
from subprocess import check_output
titanic_data = pd.read_csv("https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Casestudy/titanic_train.csv")     # Importing training dataset using pd.read_csv

# Get the outlier out (2 per column)
Outliers_to_drop = detect_outliers(titanic_data,2,["Age","SibSp","Parch","Fare"])
print(titanic_data.loc[Outliers_to_drop]) # Show the outliers rows)
titanic_data = titanic_data.drop(Outliers_to_drop, axis = 0).reset_index(drop=True)

# Get the title from name
# Get Title from Name
titanic_data_title = [i.split(",")[1].split(".")[0].strip() for i in titanic_data["name"]]
titanic_data["Title"] = pd.Series(titanic_data_title)


# Convert to categorical values Title 
titanic_data["Title"] = titanic_data["Title"].replace(['Lady', 'the Countess','Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
titanic_data["Title"] = titanic_data["Title"].map({"Master":0, "Miss":1, "Ms" : 1 , "Mme":1, "Mlle":1, "Mrs":1, "Mr":2, "Rare":3})
titanic_data["Title"] = titanic_data["Title"].astype(int)

# Add Cabin Details 
titanic_data["Cabin"] = pd.Series([i[0] if not pd.isnull(i) else 'X' for i in titanic_data['Cabin'] ])
titanic_data = pd.get_dummies(titanic_data, columns = ["Cabin"],prefix="Cabin")

titanic_data.Embarked = titanic_data.Embarked.fillna(titanic_data['Embarked'].mode()[0])
median_age = titanic_data.Age.median()
median_fare = titanic_data.Fare.median()
titanic_data.Age.fillna(median_age, inplace = True)
# titanic_data.drop('Cabin', axis = 1,inplace = True)
titanic_data.Fare.fillna(median_fare, inplace = True)
titanic_data['FamilySize'] = titanic_data['SibSp'] + titanic_data['Parch']+1
titanic_data['GenderClass'] = titanic_data.apply(lambda x: 'child' if x['Age'] < 15 else x['Sex'],axis=1)
titanic_data = pd.get_dummies(titanic_data, columns=['GenderClass','Embarked'], drop_first=True)
titanic = titanic_data.drop(['Name','Ticket','Sex','SibSp','Parch'], axis = 1)
titanic.head()
X = titanic.loc[:,titanic.columns != 'Survived']
y = titanic.Survived 
# X.head()

from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

# print(X_train)
# print(len(X_train))
# print(len(y_train))
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
    
from sklearn import preprocessing
from sklearn import cross_validation
from sklearn.model_selection import KFold
from sklearn.feature_selection import RFECV
from sklearn.grid_search import GridSearchCV
from xgboost import XGBClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score


clf = GradientBoostingClassifier()
# clf =  XGBClassifier(silent=True)
cv = cross_validation.KFold(len(X), n_folds=20, shuffle=True, random_state=1)

# Grid 1
grid = { 'loss': ['deviance'],
        'learning_rate':[0.01], 
        'n_estimators': [200],
            'max_depth':[5], 
#         'booster':['gbtree', 'gblinear', 'dart']
#        'reg_lambda':[0, 0.01, 0.10, 0.50, 1]
       }

# Grid 2

# grid = {'learning_rate':[ 0.01, 0.00001], 
#         'n_estimators': [200,5000],
#         'max_depth':[4,30], 
#         'booster':['gbtree'],
#        'reg_lambda':[0, 0.01]
#        }

# scores = cross_validation.cross_val_score(clf, X, y, cv=cv, n_jobs=1, scoring='accuracy')
search = GridSearchCV(estimator=clf, param_grid=grid, scoring='accuracy', n_jobs=-1, refit=True, cv=cv)
# search.fit(X_train,y_train)
search.fit(X,y)

y_pred_test = search.predict(X_test)
print('Accuracy score for test data using the model with parameter specification:', accuracy_score(y_test,y_pred_test))

from sklearn.metrics import confusion_matrix

confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))

confusion_matrix.index = ['Actual Died','Actual Survived']
confusion_matrix.columns = ['Predicted Died','Predicted Survived']
print(confusion_matrix)
print(search.best_estimator_)

     PassengerId  Survived  Pclass                               Name     Sex  \
27            28         0       1     Fortune, Mr. Charles Alexander    male
88            89         1       1         Fortune, Miss. Mabel Helen  female
159          160         0       3         Sage, Master. Thomas Henry    male
180          181         0       3       Sage, Miss. Constance Gladys  female
201          202         0       3                Sage, Mr. Frederick    male
324          325         0       3           Sage, Mr. George John Jr    male
341          342         1       1     Fortune, Miss. Alice Elizabeth  female
792          793         0       3            Sage, Miss. Stella Anna  female
846          847         0       3           Sage, Mr. Douglas Bullen    male
863          864         0       3  Sage, Miss. Dorothy Edith "Dolly"  female

      Age  SibSp  Parch    Ticket    Fare        Cabin Embarked
27   19.0      3      2     19950  263.00  C23 C25 C27        S
88   23.0      3      2     19950  263.00  C23 C25 C27        S
159   NaN      8      2  CA. 2343   69.55          NaN        S
180   NaN      8      2  CA. 2343   69.55          NaN        S
201   NaN      8      2  CA. 2343   69.55          NaN        S
324   NaN      8      2  CA. 2343   69.55          NaN        S
341  24.0      3      2     19950  263.00  C23 C25 C27        S
792   NaN      8      2  CA. 2343   69.55          NaN        S
846   NaN      8      2  CA. 2343   69.55          NaN        S
863   NaN      8      2  CA. 2343   69.55          NaN        S

/usr/local/lib/python3.6/dist-packages/numpy/lib/function_base.py:4291: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

Accuracy score for test data using the model with parameter specification: 0.9152542372881356
                 Predicted Died  Predicted Survived
Actual Died                  96                   7
Actual Survived               8                  66
GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.01, loss='deviance', max_depth=5,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=200,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)